<!DOCTYPE html>
<html>
<head>

<title>Bus Viewer</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet"
href="https://unpkg.com/leaflet/dist/leaflet.css"/>

<style>

body{
margin:0;
background:#070b1a;
color:white;
font-family:Arial;
}

#map{
height:75vh;
}

.info{
padding:15px;
}

button{
padding:12px;
margin:10px;
border:none;
border-radius:10px;
background:#00d4ff;
color:white;
cursor:pointer;
}

</style>

</head>

<body>

<h2 style="padding:10px;">🛰 Bus Viewer</h2>

<button id="stopBtn" onclick="stopSharing()" style="display:none;">
Stop Sharing
</button>

<div id="map"></div>

<div class="info">

<p id="speed">Speed: --</p>
<p id="message">Waiting for bus...</p>

</div>

<script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>

<script>

let map = L.map('map').setView([28.6139,77.2090],13);

L.tileLayer(
'https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png'
).addTo(map);


let busIcon = L.icon({
iconUrl: "/static/bus.png",
iconSize: [40,40]
});


let markers = {};

let lastLat, lastLng, lastTime;

if(localStorage.getItem("sharing")=="true")
document.getElementById("stopBtn").style.display="inline";


function stopSharing(){

localStorage.setItem("sharing","false");

window.location="/";

}


function getBusMessage(speed){

if(speed < 5)
return "Bus is crawling like turtle 🐢";

if(speed < 20)
return "Bus is chilling in traffic 🚗";

if(speed < 50)
return "Bus is zooming fast today ⚡";

return "Driver is in beast mode 🔥";

}


function getDistance(lat1,lon1,lat2,lon2){

let R=6371;

let dLat=(lat2-lat1)*Math.PI/180;
let dLon=(lon2-lon1)*Math.PI/180;

let a=
Math.sin(dLat/2)**2+
Math.cos(lat1*Math.PI/180)*
Math.cos(lat2*Math.PI/180)*
Math.sin(dLon/2)**2;

let c=2*Math.atan2(Math.sqrt(a),Math.sqrt(1-a));

return R*c;

}


function updateBuses(){

fetch("/get_locations")

.then(res=>res.json())

.then(data=>{

for(let bus in data){

let lat=data[bus].lat;
let lng=data[bus].lng;

if(markers[bus])
markers[bus].setLatLng([lat,lng]);

else
markers[bus]=L.marker([lat,lng],{icon:busIcon}).addTo(map);


let now=Date.now();

if(lastLat){

let dist=getDistance(lastLat,lastLng,lat,lng);
let timeDiff=(now-lastTime)/1000/3600;

let speed=dist/timeDiff;

document.getElementById("speed").innerText=
"Speed: "+speed.toFixed(1)+" km/h";

document.getElementById("message").innerText=
getBusMessage(speed);

}

lastLat=lat;
lastLng=lng;
lastTime=now;

}

});

}

setInterval(updateBuses,2000);

</script>

</body>
</html>

